/* Style for a shopping cart example page that im creating */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* General page styles*/
body {
    background-color: black;
    color: red;
    /* font-family: "Belleza", sans-serif;       /* For small text */
    /*font-family: "Playfair Display", serif; */   /* For headings and such  */
}
/* Header section */
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.logo {
    cursor: pointer;
}
.logo:hover {
    color: #ba91b6 ;
}
.logo span {
    font-family: "Belleza", sans-serif;
    font-size: 2em;
}
#logo1 {
    color: white;
}
#logo1:hover {
    color: #ba91b6;
}
#logo2 {
    font-family: "Playfair Display", serif;
}
#logo3 {
    color: white;
}
#logo3:hover {
    color: #ba91b6;
}
#period {
    font-size: 4em;
}
header a {
    align-self: center;
    justify-self: center;
}
.head-nav {
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-self: stretch;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-top: 7%;
    font-size: 1.5em;
}
.head-nav .local-links {
    color: white;
    text-decoration: none;
}
.head-nav .local-links:hover {
    color: red;
    border-bottom: solid 3px;
    padding-bottom: 10px;
    font-weight: bold;
}
header .cart {
    grid-column: 3;
    justify-self: center;
    align-self: center;
    padding-left: 30%;
}
.nav-b {
    height: 50%;
    width: 50%;
    border-radius: 40%;
}
header button img {
    height: 100%;
    width: 60%;
}

/* Main section */
h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.07em;
}
.shop-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    grid-row-gap: 2em;
}
.shop-item-title {
    color: white;
    font-family: "Belleza", sans-serif;
    letter-spacing: 0.05em;
}
.i1 {
    grid-area: 1 / 1 / 2 / 2 ;
}
.i2 {
    grid-area: 1 / 2 / 2 / 3 ;
}
.i3 {
    grid-area: 1 / 3 / 2 / 4 ;
}
.i4 {
    grid-area: 2 / 1 / 3 / 2 ;
}
.i5 {
    grid-area: 2 / 2 / 3 / 3 ;
}
.i6 {
    grid-area: 2 / 3 / 3 / 4 ;
}
.shop-item .portrait{
    height: 300px;
    width: 200px;
    border: solid red 7px;
}
.shop-item .wide {
    height: 300px;
    width: 230px;
    border: solid red 7px;
}
.shop-item .landscape {
    height: 200px;
    width: 300px;
    border: solid red 7px;
}
.add-btn {
    background-color: grey;
}
.add-btn:hover {
    background-color: #ba91b6;
}

/* Cart section */
.cart-headings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    margin-bottom: 2%;
}
.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-bottom: 3%;
}
.cartItem-image {
    grid-area: 1 / 1 / 2 / 2 ;
    justify-self: start;
    height: 9em;
    width: 7em;
}
.cart-item .cart-title {
    grid-area: 1 / 1 / 2 / 2 ;
    justify-self: center;
    align-self: center;
    padding-left: 3em;
}
.cart-item .item-price {
    grid-area: 1 / 2 / 2 / 3 ;
    justify-self: center;
    align-self: center;
}
.cart-item input {
    grid-area: 1 / 3 / 2 / 4 ;
    justify-self: center;
    align-self: center;
    height: 20%;
    width: 15%;
}
.remv-btn {
    grid-area: 1 / 4 / 2 / 5 ;
    justify-self: center;
    align-self: center;
    background-color: red;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
#cartTotal h3,
#cartTotal p {
    display: inline-block;
    margin-left: 2em;
}
#checkOut {
    display: inline-block;
    height: 5em;
    width: 7em;
    background-color: gold;
    margin-left: 8em;
}
#close {
    display: inline-block;
    height: 5em;
    width: 7em;
    background-color: grey;
    margin-left: 45em;
}
.hide {
    display: none;
}

/* Footer section */
footer {
    display: grid;
    grid-template-rows: 2fr 0.5fr ;
    grid-template-columns: 1fr 1fr;
} 
.left {
    grid-area: 1 / 1 / 2 / 2 ;
}
.right {
    grid-area: 1 / 2 / 2 / 3 ;
}
.bottom {
    grid-area: 2 / 1 / 3 / 3 ;
}